<template>
  <v-dialog width=600 value=true>
    <v-card>
      <v-toolbar dense>
        <v-toolbar-title>Pilih Gejala</v-toolbar-title>
      </v-toolbar>
      <v-simple-table>
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Nama</th>
            <th>Deskripsi</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="opt in filtered"
            :key="`rm-patch-g-add-${opt.id}`"
          >
            <td>
              <v-checkbox :value="opt.id" v-model="selected"></v-checkbox>
            </td>
            <td>{{ opt.id }}</td>
            <td>{{ opt.nama }}</td>
            <td>{{ opt.deskripsi }}</td>
          </tr>
        </tbody>
      </v-simple-table>
      <v-card-actions>
        <v-btn small depressed :disabled="selected == 0" @click="saveData">
          Ok
        </v-btn>
        <v-btn small depressed @click="$router.back()">
          Batal
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Gejala } from "@/interfaces";
import { PasienRepo, GejalaRepo } from "@/services/repo";
import { addGejala } from "@/services/rekamMedik";

type IData = {
  options: Gejala[];
  selected: number;
  keyword: string;
};

const defData: () => IData = () => ({
  options: [],
  selected: 0,
  keyword: ''
});

export default Vue.extend({
  name: 'RmAddGejala',
  props: ['id', 'woman', 'currentIds'],
  data: defData,
  computed: {
    filtered(): any {
      const currentIds = this.currentIds as any[];
      const woman = this.woman as boolean;
      const keyup = this.keyword.toUpperCase();
      const options = this.options;
      return options.filter(it => {
        return it.woman === woman && 
          !currentIds.includes(it.id) &&
          it.nama.toUpperCase().includes(keyup);
      });
    }
  },
  methods: {
    async loadData() {
      const page = await GejalaRepo.findAll(0, 1000);
      this.options = page.content;
    },
    async saveData() {
      if (this.selected == 0) return;
      const id = this.id;
      const idRes = this.selected;
      addGejala(id, idRes);
      this.$router.back();
    }
  },
  mounted() {
    this.loadData();
  }
});
</script>