<template>
  <v-dialog width=600 value=true>
    <v-card flat>
      <v-toolbar dense>
        <v-toolbar-title>Pilih Pasien</v-toolbar-title>
      </v-toolbar>
      <v-simple-table>
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>Sex</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="opt in filtered"
            :key="`patch-pas-${opt.id}`"
          >
            <td>
              <v-checkbox :value="opt.id" v-model="selected"></v-checkbox>
            </td>
            <td>{{ opt.id }}</td>
            <td>{{ opt.nama }}</td>
            <td>{{ opt.age }}</td>
            <td>{{ opt.woman ? 'Wanita' : 'Pria' }}</td>
          </tr>
        </tbody>
      </v-simple-table>
      <v-card-actions>
        <v-btn small depressed :disabled="selected == 0" @click="saveData">
          Ok
        </v-btn>
        <v-btn small depressed @click="$router.back()">
          Batal
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { ExtPasien } from "@/interfaces";
import { PasienRepo } from "@/services/repo";
import { updatePasien } from "@/services/rekamMedik";
import { age } from "@/util";

type IData = {
  options: ExtPasien[];
  selected: number;
  keyword: string;
};

const defData: () => IData = () => ({
  options: [],
  selected: 0,
  keyword: ''
});

export default Vue.extend({
  name: 'RmPatchPasien',
  props: ['id', 'woman', 'currentId'],
  data: () => defData(),
  computed: {
    filtered (): any[] {
      // Filter by keyword, sex, and currentId.
      const keyup = this.keyword.toUpperCase();
      const currentId = this.currentId;
      const woman = this.woman;
      return this.options
        .filter(it => {
          return it.nama.toUpperCase().includes(keyup) && it.id !== currentId && it.woman === woman;
        });
    }
  },
  methods: {
    async loadData() {
      this.options = await PasienRepo
        .findAll(0, 10000).then(page => page.content)
        .then(items => {
          return items.map(it => {
            let tgl = new Date(it.tanggalLahir);
            let _age = age(tgl);
            return {
              ...it,
              age: _age
            };
          });
        });
    },
    async saveData() {
      if (this.selected <= 0) {
        return
      }
      const idRes = this.selected;
      await updatePasien(this.id, idRes);
      this.$router.back();
    }
  },
  async mounted() {
    await this.loadData();
    console.log(this.woman);
    console.log(this.id);
    console.log(this.currentId);
  }
});
</script>