<template>
    <v-dialog width=600 value=true>
    <v-card flat>
      <v-toolbar dense>
        <v-toolbar-title>Pilih Penyakit</v-toolbar-title>
      </v-toolbar>
      <v-simple-table>
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Nama</th>
            <th>Deskripsi</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="opt in filtered"
            :key="`patch-pas-${opt.id}`"
          >
            <td>
              <v-checkbox :value="opt.id" v-model="selected"></v-checkbox>
            </td>
            <td>{{ opt.id }}</td>
            <td>{{ opt.nama }}</td>
            <td>{{ opt.deskripsi }}</td>
          </tr>
        </tbody>
      </v-simple-table>
      <v-card-actions>
        <v-btn small depressed :disabled="selected == 0" @click="saveData">
          Ok
        </v-btn>
        <v-btn small depressed @click="$router.back()">
          Batal
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Penyakit } from "@/interfaces";
import { PenyakitRepo } from "@/services/repo";
import { updatePenyakit } from "@/services/rekamMedik";

type IData = {
  options: Penyakit[];
  keyword: string;
  selected: number;
};

const defData: () => IData = () => ({
  options: [],
  keyword: '',
  selected: 0
});

export default Vue.extend({
  props: ['id', 'currentId'],
  data: defData,
  methods: {
    async loadData() {
      this.options = (await PenyakitRepo.findAll(0, 1000)).content;
    },
    async saveData() {
      if (this.selected == 0) return;
      const id = this.id;
      const idRes = this.selected;
      await updatePenyakit(id, idRes);
      this.$router.back();
    }
  },
  computed: {
    filtered(): any {
      const keyup = this.keyword;
      const currentId = this.currentId;
      return this.options.filter(it => it.nama.toUpperCase().includes(keyup) && it.id !== currentId);
    }
  },
  mounted() {
    console.log(this.id);
    console.log(this.currentId);
    this.loadData();
  }
});
</script>