<template>
  <v-dialog :value=true persistent width=900>
    <v-card>
      <v-toolbar flat dense>
        <v-toolbar-title>Input Data Rekam Medik</v-toolbar-title>
      </v-toolbar>


      <v-stepper
        v-model.number="step"
      >
        <v-stepper-header>
          <v-stepper-step step=1 :complete="step > 1">Pasien</v-stepper-step>
          <v-stepper-step step=2 :complete="step > 2">Gejala</v-stepper-step>
          <v-stepper-step step=3 :complete="step > 3">Penyakit</v-stepper-step>
          <v-stepper-step step=4 :complete="step > 4">Info</v-stepper-step>
        </v-stepper-header>
        
        <v-stepper-items>
          <v-stepper-content step=1 class="pa-8">
            <v-text-field
              v-model="keywords.pasien"
              boxed
              label="Keyword"
            />
            <v-list dense>
              <v-list-item v-for="(opt, idx) in filteredPasien" :key="`pasien-opt-${idx}`" dense>
                <v-list-item-action>
                  <v-checkbox
                    :value="opt.id"
                    v-model="item.idPasien"
                  >
                  </v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>{{ opt.nama }}</v-list-item-title>
                  <v-list-item-subtitle>{{ opt.age }} tahun, {{ opt.woman ? 'Wanita' : 'Pria' }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-stepper-content>

          <v-stepper-content step=2 class="pa-8">
            <v-text-field
              v-model="keywords.gejala"
              v-on:keyup="findGejala($event.target.value)"
              boxed
              label="Keyword"
            />
            <v-row
              v-if="state == 'loading'"
              justify="center"
              align="center"
              class="pa-12"
            >
              <v-progress-circular
                size=54
                width=12
                color="blue"
              >
              </v-progress-circular>
            </v-row>
            <v-simple-table
              v-else
              dense
            >
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Nama</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(opt, idx) in options.gejala" :key="`gejala-opt-${idx}`">
                  <th>
                    <v-checkbox
                      class="ma-0 pa-0"
                      :value="opt.id"
                      multiple
                      hide-details
                      v-model="item.idListGejala"
                    />
                  </th>
                  <th>{{ opt.id }}</th>
                  <th>{{ opt.nama }}</th>
                </tr>
              </tbody>
            </v-simple-table>
          </v-stepper-content>

          <v-stepper-content step=3 class="pa-8">
            <v-text-field
              v-model="keywords.penyakit"
              v-on:keyup="findPenyakit($event.target.value)"
              boxed
              label="Keyword"
            />
            <v-list dense>
              <v-list-item v-for="(opt, idx) in options.penyakit" :key="`penyakit-opt-${idx}`" dense>
                <v-list-item-action>
                  <v-checkbox
                    :value="opt.id"
                    v-model="item.idPenyakit"
                  >
                  </v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>{{ opt.nama }}</v-list-item-title>
                  <v-list-item-subtitle>{{ opt.deskripsi }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-stepper-content>

          <v-stepper-content step=4 class="pa-8">
            <v-text-field
              type="date"
              label="Tanggal kunjungan"
              v-model="item.tanggal"
            />

            <v-switch v-model="item.basisKasus" label="Tambahkan Sebagai Basus Kasus?" />
          </v-stepper-content>
        </v-stepper-items>

      </v-stepper>

      <v-card-actions>
        <v-btn :disabled="nextDisabled" depressed @click="next">Next</v-btn>
        <v-btn :disabled="saveDisabled" depressed @click="save">Simpan</v-btn>
        <v-btn depressed @click="$router.back()">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import moment from "moment";
import { age } from "@/util";
import { RekamMedik, RekamMedikCreateDTO, Gejala, Pasien, ExtPasien, Penyakit, Option } from "@/interfaces";
import {
  GejalaRepo,
  PenyakitRepo,
  PasienRepo
} from "@/services/repo";
import { createRekamMedik } from "@/services/rekamMedik";
import { gejalaBySexAndKeyword } from "@/services/gejala";
import { penyakitBySexAndKeyword } from "@/services/penyakit";

type GejalaFilter = (it: Gejala) => boolean;

type IData = {
  step: number;
  state: "loading" | "idle" | "error";
  keywords: {
    pasien: string;
    penyakit: string;
    gejala: string;
  },
  item: RekamMedikCreateDTO,
  options: {
    pasien: ExtPasien[];
    gejala: Gejala[];
    penyakit: Penyakit[];
  }
};

const defData: () => IData = () => ({
  step: 1,
  state: "idle",
  keywords: {
    pasien: "",
    penyakit: "",
    gejala: ""
  },
  item: {
    idPasien: 0,
    idPenyakit: 0,
    tanggal: moment().format("YYYY-MM-DD"),
    idListGejala: [],
    basisKasus: false
  },
  options: {
    pasien: [],
    gejala: [],
    penyakit: []
  }
})

export default Vue.extend({
  data: () => defData(),
  computed: {
    filteredPasien() : any[] {
      const keywordUp = this.keywords.pasien.toUpperCase();
      return this.options.pasien.filter(it => it.nama.toUpperCase().includes(keywordUp));
    },

    selectedPasien() : ExtPasien | undefined {
      const id = this.item.idPasien;
      return this.options.pasien.find(it => it.id === id);
    },

    // Disabled next button when certain conditions do not meet.
    nextDisabled(): boolean {
      // Condition(s) depends on current step.
      const step = this.step;
      const item = this.item;
      switch (step) {
        // Pasien. Pasien id <= 0
        case 1:
          return item.idPasien <= 0;
        // Gejala. There is no gejala selected
        case 2:
          return item.idListGejala.length == 0;
        // Penyakit. idPenyakit <= 0
        case 3:
          return item.idPenyakit <= 0;
        // If we are on step 4 (or greater). Disabled the button
        default:
          return true;
      }
    },

    // Disabled conditions save button
    saveDisabled(): boolean {
      const lastStep = 4;
      const step = this.step;
      const tanggal = this.item.tanggal;

      // Disabled when we're not in last step.
      if (step !== lastStep) {
        return true;
      }
      // User must input valid date.
      if (isNaN( Date.parse(tanggal) )) {
        return true;
      }
      return false;
    }
  },
  methods: {
    next() {
      if (this.step < 4) {
        this.step += 1;
      }
    },

    toggleGejala(idGejala: number) {
      if (this.item.idListGejala.includes(idGejala)) {
        this.item.idListGejala = this.item.idListGejala.filter(it => it !== idGejala);
      } else {
        this.item.idListGejala.push(idGejala);
      }
    },

    save() {
      createRekamMedik(this.item)
        .then(newId => {
          console.log(newId);
          this.$router.back();
        })
        .catch(err => {
          console.log(err);
        });
    },

    clearInputs() {
      const _defData = defData();
      this.item = { ..._defData.item };
      this.keywords = { ..._defData.keywords };
      this.step = 1;
    },

    async findGejala(keyword: string) {
      this.state = "loading";
      let _k = keyword.trim();
      let pasien: ExtPasien | undefined = this.selectedPasien;
      if (pasien === undefined) {
        return;
      }
      const isWoman = pasien!.woman;
      try {
        const items = await gejalaBySexAndKeyword(isWoman, _k);
        this.options.gejala = items;
        this.state = "idle";
      } catch (err) {
        console.log(err);
        this.state = "error";
      }
    },

    async findPenyakit(keyword: string) {
      let _k = keyword.trim();
      let pasien: ExtPasien | undefined = this.selectedPasien;
      if (pasien === undefined) {
        return;
      }
      const isWoman = pasien!.woman;
      const items = await penyakitBySexAndKeyword(isWoman, _k);
      this.options.penyakit = items;
    }
  },
  async mounted() {
    this.clearInputs();
    try {
      this.options.gejala = await GejalaRepo.findAll(0, 10000).then(page => page.content);
      this.options.pasien = await PasienRepo
        .findAll(0, 10000).then(page => page.content)
        .then(items => {
          return items.map(it => {
            let tgl = new Date(it.tanggalLahir);
            let _age = age(tgl);
            return {
              ...it,
              age: _age
            };
          });
        });
      this.options.penyakit = await PenyakitRepo.findAll(0, 10000).then(page => page.content);
    } catch (err) {
      console.log(err);
    }
  }
});
</script>