<template>
  <v-container fluid class="px-4"  id="rekam-medik-detail">

    <v-row>
      <v-col cols=12>
        <div class="display-1">
          Data Rekam Medik #{{id}}
        </div>
        <p>Data rekam medik atas nama {{ rekamMedik.pasien.nama }}, pada tanggal {{ rekamMedik.tanggal }}</p>
        <v-text-field
          type="date"
          label="Tanggal"
          v-model="rekamMedik.tanggal"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols=8>
        <v-card tile>
          <v-toolbar floating dense flat color="grey lighten-4">
            <v-toolbar-title>Pasien</v-toolbar-title>
            <v-spacer/>
            <v-toolbar-items>
              <v-btn small icon :to="patchPasienTarget">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-simple-table class="mb-8">
            <tbody>
              <tr>
                <td>Nama</td>
                <td>{{ rekamMedik.pasien.nama }}</td>
              </tr>
              <tr>
                <td>Sex</td>
                <td>{{ rekamMedik.pasien.woman ? 'Wanita' : 'Pria' }}</td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td>{{ rekamMedik.pasien.alamat }}</td>
              </tr>
              <tr>
                <td>TTL</td>
                <td>{{ rekamMedik.pasien.tempatLahir }}</td>
              </tr>
            </tbody>
          </v-simple-table>

          <v-toolbar floating dense flat color="grey lighten-4">
            <v-toolbar-title>Gejala</v-toolbar-title>
            <v-spacer/>
            <v-toolbar-items>
              <v-btn small icon :to="patchGejalaTarget">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-simple-table class="mb-8">
            <tbody>
              <tr v-for="(gejala, idx) in rekamMedik.gejalas" :key="`rm-${id}-g-${gejala.id}`">
                <td class="text-xs-left">{{idx + 1}}</td>
                <td class="text-xs-left">{{ gejala.nama }}</td>
                <td class="text-xs-right">
                  <v-icon small color="red" @click="removeG(gejala.id)">
                    mdi-close-circle
                  </v-icon>
                </td>
              </tr>
            </tbody>
          </v-simple-table>

          <v-toolbar floating dense flat color="grey lighten-4">
            <v-toolbar-title>Penyakit</v-toolbar-title>
            <v-spacer/>
            <v-toolbar-items>
              <v-btn small icon :to="patchPenyakitTarget">
                <v-icon color="blue">mdi-pencil</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-simple-table>
            <tbody>
              <tr>
                <td>Nama</td>
                <td>{{ rekamMedik.penyakit.nama }}</td>
              </tr>
              <tr>
                <td>Deskripsi</td>
                <td>{{ rekamMedik.penyakit.deskripsi }}</td>
              </tr>
              <tr>
                <td>Solusi</td>
                <td>{{ rekamMedik.penyakit.solusi }}</td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>

    <router-view/>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { age } from "@/util";
import {
  RekamMedik,
  Gejala
} from "@/interfaces";
import {
  RekamMedikRepo
} from "@/services/repo";
import {
  removeGejala, updateTanggal
} from "@/services/rekamMedik";

type IData = {
  rekamMedik: RekamMedik;
};

const defData: () => IData = () => ({
  rekamMedik: {
    tanggal: '',
    pasien: undefined,
    gejalas: [],
    penyakit: undefined
  }
});

export default Vue.extend({
  props: ['id'],
  data: () => defData(),
  methods: {
    async onTanggalChange(val: string)  {
      try {
        await updateTanggal(this.id, val);
        await this.loadRekamMedik();
      } catch (err) {
        console.log(err);
        alert("Gagal merubah tanggal");
      }

    },
    async loadRekamMedik() {
      try {
        this.rekamMedik = await RekamMedikRepo.findOne(this.id);
      } catch (err) {
        console.log(err);
      }
    },
    async removeG(id: number) {
      try {
        await removeGejala(this.id, id);
      } catch (err) {
        alert('Gagal menghapus gejala');
      } finally {
        this.loadRekamMedik();
      }
      
    }
  },
  computed: {
    patchPasienTarget(): any {
      return {
        path: `/app/rekam-medik/patch/pasien`,
        query: {
          id: this.id,
          currentId: this.rekamMedik.pasien!.id,
          woman: this.rekamMedik.pasien!.woman
        }
      };
    },
    patchGejalaTarget(): any {
      return {
        path: `/app/rekam-medik/patch/gejala`,
        query: {
          id: this.id,
          currentIds: this.rekamMedik.gejalas!.map((it: Gejala) => it.id),
          woman: this.rekamMedik.pasien!.woman
        }
      };
    },
    patchPenyakitTarget(): any {
      return {
        path: `/app/rekam-medik/patch/penyakit`,
        query: {
          id: this.id,
          currentId: this.rekamMedik.penyakit!.id
        }
      };
    }
  },
  mounted() {
    this.loadRekamMedik();
  }
});
</script>

<style lang="scss">
#rekam-medik-detail {
  .row-info {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    div:first-child {
      font-size: 16px;
      padding-right: 40px;
    }
    div:last-child {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .foobar {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
  }
}
</style>