<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=12>
        <div class="display-1 py-4">Rekam Medik</div>
        <p>Data Rekam Medik dari pasien. Total data {{ items ? items.length : 0 }}</p>
        <v-divider class="my-4"/>
        <v-toolbar flat class="my-4" color="grey lighten-4">
          <v-text-field
            v-model="keyword"
            hide-details
            flat
            placeholder="Keyword pencarian berdasarkan nama pasien dan nama penyakit."
            prepend-icon="mdi-magnify"
          />
          <v-btn dark depressed color="indigo" to="/app/rekam-medik/add" class="ml-4">
            Tambah
            <v-icon right large>mdi-plus</v-icon>
          </v-btn>
        </v-toolbar>
        <v-data-table :headers="tableHeaders" :items="filtered">
          <template v-slot:item.basisKasus="{ item }">
            <v-chip dark :color="item.kasus ? 'blue' : 'red'">
              {{ item.kasus ? 'ya' : 'tidak' }}
            </v-chip>
          </template>
          <template v-slot:item.penyakit="{ item }">
            <a v-on:click.prevent="$router.push(`/app/penyakit/${item.penyakit.id}`)">{{ item.penyakit.nama }}</a>
          </template>
          <template v-slot:item.pasien="{ item }">
            <a v-on:click.prevent="$router.push(`/app/pasien/${item.pasien.id}`)">{{ item.pasien.nama }}</a>
          </template>
          <template v-slot:item.action="{ item }">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on">
                  mdi-chevron-down
                </v-icon>
              </template>
              <v-list dense>
                <v-list-item :to="`/app/rekam-medik/detail/${item.id}`">
                  <v-list-item-subtitle>Detail</v-list-item-subtitle>
                </v-list-item>
                <v-list-item @click="remove(item.id)">
                  <v-list-item-subtitle>Hapus</v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import rekamMedikData from "@/data/rekamMedik";
import { RekamMedik } from "@/interfaces";
import { RekamMedikRepo } from "@/services/repo";

type IData = {
  tableHeaders: any;
  items: RekamMedik[];
  keyword: string;
}

const defaultData: IData = {
  tableHeaders: rekamMedikData.tableHeaders,
  items: [] as RekamMedik[],
  keyword: ''
}

export default Vue.extend({
  data: () => defaultData,
  methods: {
    async loadItems() : Promise<void> {
      const result = await RekamMedikRepo.findAll(0, 99999)
      const items = result.content ? result.content : []
      this.items = items
    },
    async remove(id: number) {
      try {
        await RekamMedikRepo.remove(id)
      } catch (err) {
        console.log(err)
      } finally {
        this.loadItems()
      }
    }
  },
  computed: {
    filtered(): RekamMedik[] {
      const keyup = this.keyword.toUpperCase();
      const filterFunc = (it: RekamMedik) => it.pasien!.nama.toUpperCase().includes(keyup);
      return this.items.filter(filterFunc);
    }
  },
  mounted() {
    this.loadItems()
  }
})
</script>