<template>
  <v-dialog :value=true width=500>
    <v-card>
      <v-toolbar flat dense>
        <v-toolbar-title>Input Data Pasien</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          label="Nama"
          v-model="item.nama"
        />

        <div class="subtitle">
          Jenis Kelamin
        </div>
        <v-radio-group v-model="item.woman">
          <v-radio label="Laki - Laki" :value="false"></v-radio>
          <v-radio label="Perempuan" :value="true"></v-radio>
        </v-radio-group>

        <v-text-field label="Alamat" v-model="item.alamat" />

        <v-text-field label="Tanggal Lahir" type="date" v-model="item.tanggalLahir" />

        <v-text-field label="Tempat Lahir" v-model="item.tempatLahir" />

      </v-card-text>
      <v-card-actions>
        <v-btn text color="blue" @click="create">Simpan</v-btn>
        <v-btn text color="red" @click="$router.back()">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Pasien } from "@/interfaces";
import { PasienRepo } from "@/services/repo";
import pasienData from "@/data/pasien";

type IData = {
  item: Pasien;
};

const defaultData: IData = {
  item: pasienData.defaultData
}

export default Vue.extend({
  name: 'PasienAdd',
  data: () => defaultData,
  methods: {
    async create() {
      try {
        await PasienRepo.create(this.item)
        this.$router.back()
      } catch (err) {
        console.log(err)
      }
    }
  }
})
</script>