<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=12>
        <div class="display-1 py-4">Pasien</div>
        <p>Data Pasien. Total data {{ items.length }}</p>
        <v-divider class="my-4"/>
        <v-toolbar dark flat class="my-4">
          <v-text-field
            v-model="keyword"
            hide-details
            flat
            solo-inverted
            placeholder="Keyword pencarian berdasarkan nama pasien."
            prepend-icon="mdi-magnify"
          />
          <v-spacer/>
          <v-toolbar-items>
            <v-btn dark depressed color="indigo" to="/app/pasien/add">
              Tambah
              <v-icon right large>mdi-plus</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-data-table :headers="tableHeaders" :items="filtered">
          <template v-slot:item.woman="{ item }">
            <v-chip dark small :color="item.woman ? 'blue' : 'green'">
              {{ item.woman ? 'Perempuan' : 'Laki - Laki' }}
            </v-chip>
          </template>
          <template v-slot:item.ttl="{ item }">
            {{ item.tanggalLahir }}, {{ item.tempatLahir }}
          </template>
          <template v-slot:item.action="{ item }">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on">
                  mdi-chevron-down
                </v-icon>
              </template>
              <v-list dense>
                <v-list-item :to="`/app/pasien/${item.id}`">
                  <v-list-item-subtitle>Edit</v-list-item-subtitle>
                </v-list-item>
                <v-list-item @click="remove(item.id)">
                  <v-list-item-subtitle>Hapus</v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import pasienData from "@/data/pasien";
import { Pasien } from "@/interfaces";
import { PasienRepo } from "@/services/repo";

type IData = {
  tableHeaders: any;
  items: Pasien[];
  keyword: string;
}

const defaultData: IData = {
  tableHeaders: pasienData.tableHeaders,
  items: [] as Pasien[],
  keyword: ''
}

export default Vue.extend({
  name: "PasienList",
  data: () => defaultData,
  computed: {
    filtered(): Pasien[] {
      const keyup = this.keyword.toUpperCase();
      const filterFunc = (it: Pasien) => it.nama.toUpperCase().includes(keyup);
      return this.items.filter(filterFunc);
    }
  },
  methods: {
    async loadItems() : Promise<void> {
      const items = await PasienRepo.findAll(0, 100000)
      this.items = items.content
    },
    async remove(id: number) {
      try {
        await PasienRepo.remove(id)
      } catch (err) {
        console.log(err)
      } finally {
        this.loadItems()
      }
    }
  },
  mounted() {
    this.loadItems()
  }
})
</script>