<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=6 offset=3 class="text-center">
        <div class="display-1 py-4">Form Pengujian KFold</div>
        <p>Input Jumlah Fold</p>
        <v-divider class="my-4"/>
        <v-text-field type="number" v-model="nfold" label="Jumlah Fold" min=3 max=10 />
        <v-btn large dark color="blue" @click="runKfold">
          Jalankan
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from '@/services/axios'
import { saveSession } from "@/services/session";

type IData = {
  nfold: number;
}

const defData: () => IData = () => ({
  nfold: 5
})

export default Vue.extend({
  data: defData,
  methods: {
    async runKfold() {
      const resp = await axios.get(`/api/v1/kfold/${this.nfold}`)
      const result = resp.data
      saveSession("dataset-test-result", result)
      this.$router.push('/app/testing/dataset-result')
    }
  }
})
</script>