<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=8 offset=2>
        <v-row>
          <v-col cols=12>
            <div class="display-1 py-4">Hasil KFold</div>
            <p>Menampilkan hasil pengujian kfold dengan {{ results.length }} partisi.</p>
            <v-divider class="my-4"/>
            <v-data-table :headers="headers" :items="results">
              <template v-slot:item.similarity="{ item }">
                {{ item.accuracy.toFixed(2) }} %
              </template>
              <template v-slot:item.accuracy="{ item }">
                {{ item.similarity.toFixed(2) }} %
              </template>
            </v-data-table>
            <v-divider class="my-4"/>
            <div class="title py-2">Rata - Rata Akurasi: {{ avgAccuracy }} %</div>
            <div class="title py-2">Rata - Rata Similarity: {{ avgSimilarity }}</div>
          </v-col>
        </v-row>  
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { getSession } from "@/services/session";

type IData = {
  results: any[];
  headers: any[];
}

const defData: () => IData = () => ({
  results: [],
  headers: [
    {
      text: '#',
      value: 'index'
    },
    {
      text: 'Total Data',
      value: 'totalData'
    },
    {
      text: 'Hit',
      value: 'hit'
    },
    {
      text: 'Miss',
      value: 'miss'
    },
    {
      text: 'Avg. Similarity',
      value: 'similarity'
    },
    {
      text: 'Avg. Accuracy',
      value: 'accuracy'
    }
  ]
})

export default Vue.extend({
  data: defData,
  methods: {
    loadData() {
      const results = getSession("dataset-test-result")
      this.results = results.map((it: any, idx: number) => ({
        index: idx + 1,
        ...it
      }))
    }
  },
  computed: {
    avgAccuracy () {
      return this.results.map(it => it.accuracy).reduce((a, b) => a + b) / this.results.length;
    },
    avgSimilarity () {
      return this.results.map(it => it.similarity).reduce((a, b) => a + b) / this.results.length;
    }
  },
  mounted() {
    this.loadData()
  }
})
</script>