<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=8 offset=2>
        <v-row>
          <v-col cols=12>
            <div class="display-1 py-4">Hasil Klasifikasi</div>
            <p>Menampilkan Perbandingan antara data baru dan kasus terdekat.</p>
            <v-divider class="my-4"/>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols=6>
            <div class="headline py-4">Data Baru</div>
            <v-simple-table>
              <tbody>
                <tr>
                  <td>Nama</td>
                  <td>{{ input.nama }}</td>
                </tr>
                <tr>
                  <td>Sex</td>
                  <td>{{ input.woman ? 'Wanita' : 'Pria' }}</td>
                </tr>
                <tr>
                  <td>Alamat</td>
                  <td>{{ input.alamat }}</td>
                </tr>
                <tr>
                  <td>TTL</td>
                  <td>{{ input.tanggalLahir }}, {{ input.tempatLahir }}</td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>
          <v-col cols=6>
            <div class="headline py-4">
              Kasus Lama 
              <a v-on:click.prevent="$router.push(`/app/rekam-medik/detail/${result.id}`)">
                #{{ result.id }}
              </a>
            </div>
            <v-simple-table>
              <tbody>
                <tr>
                  <td>Nama</td>
                  <td>{{ result.pasien.nama }}</td>
                </tr>
                <tr>
                  <td>Sex</td>
                  <td>{{ result.pasien.woman ? 'Wanita' : 'Pria' }}</td>
                </tr>
                <tr>
                  <td>Alamat</td>
                  <td>{{ result.pasien.alamat }}</td>
                </tr>
                <tr>
                  <td>TTL</td>
                  <td>{{ result.pasien.tanggalLahir }}, {{ result.pasien.tempatLahir }}</td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-col>
        </v-row>
        <v-row class="text-center">
          <v-col cols=10 offset=1>
            <div class="headline py-4">Perbandingan gejala</div>
            <v-simple-table>
              <thead>
                <tr>
                  <td>Gejala</td>
                  <td>Data Baru</td>
                  <td>Data Lama</td>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="g in filteredGs"
                  :key="`single-res-sel-g-id${g.id}`"
                >
                  <td>{{ g.nama }}</td>
                  <td>
                    <v-icon
                      v-if="gIsInInput(g.id)"
                      color="green"
                      x-large
                    >
                      mdi-check-bold
                    </v-icon>
                  </td>
                  <td>
                    <v-icon
                      v-if="gIsInResult(g.id)"
                      color="green"
                      x-large
                    >
                      mdi-check-bold
                    </v-icon>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
            <div class="display-2 font-weight-bold cyan--text text--darken-3 py-6">Similaritas: {{ sim.toFixed(2) }}</div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { Gejala, Kasus, RekamMedik, ClassificationInput } from "@/interfaces";
import { GejalaRepo } from "@/services/repo";
import { getSession } from "@/services/session";

type IData = {
  input?: ClassificationInput,
  result?: RekamMedik,
  sim: number,
  gejala: Gejala[];
};

const defData: () => IData = () => ({
  input: undefined,
  result: undefined,
  sim: 0,
  gejala: []
});

export default Vue.extend({
  data: defData,
  computed: {
    selectedGInput(): any[] {
      if (!this.input) return [];
      const selectedIds = this.input.idListGejala;
      return this.gejala.map((it: Gejala) => selectedIds.includes(it.id as number));
    },
    selectedGResult(): any[] {
      if (!this.result) return [];
      const selectedIds = this.result!.gejalas!.map((it: any) => it.id);
      return this.gejala.map((it: Gejala) => selectedIds.includes(it.id));
    },
    filteredGs() {
      return this.gejala.filter((g: any) => {
        return this.gIsInInput(g.id) || this.gIsInResult(g.id)
      })
    }
  },
  methods: {
    gIsInInput(id: number): boolean {
      if (!this.input) return false;
      return this.input.idListGejala.includes(id);
    },
    gIsInResult(id: number): boolean {
      if (!this.result) return false;
      const selectedIds = this.result!.gejalas!.map((it: Gejala) => it.id);
      return selectedIds.includes(id);
    },
    loadStates() {
      this.input = getSession('single-test-param') as ClassificationInput;
      this.result = getSession('single-test-result') as RekamMedik;
      this.sim = getSession('single-test-sim') as number;
      console.log(this.input);
      console.log(this.result);
    },
    async loadGejala() {
      const page = await GejalaRepo.findAll(0, 1000);
      const gejala = page.content;
      this.gejala = gejala;
    }
  },
  async mounted() {
    this.loadStates();
    await this.loadGejala();
  }
});
</script>