<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=10 offset=1>
        <v-row>
          <v-col cols=12>
            <div class="display-1 py-4">Form Klasifikasi</div>
            <p>Input Data Pasien dan gejala yang dialamai</p>
            <v-divider class="my-4"/>
          </v-col>
        </v-row>
        <v-form ref="form">
          <v-row>
            <v-col cols=4>
              <div class="headline py-4">Data Pasien</div>
              <p>Input Data Pasien</p>
              <v-divider class="my-2"/>
              <v-text-field
                label="Nama"
                v-model="item.nama"
                :rules="[rules.required]"
              />

              <div class="subtitle">
                Jenis Kelamin
              </div>
              <v-radio-group v-model="item.woman">
                <v-radio label="Laki - Laki" :value="false"></v-radio>
                <v-radio label="Perempuan" :value="true"></v-radio>
              </v-radio-group>

              <v-text-field label="Alamat" v-model="item.alamat" :rules="[rules.required]" />

              <v-text-field label="Tanggal Lahir"
                type="date"
                v-model="item.tanggalLahir"
                :rules="[rules.required, rules.validDate]" />

              <v-text-field label="Tempat Lahir" v-model="item.tempatLahir" :rules="[rules.required]" />
            </v-col>
            <v-col cols=8>
              <div class="headline py-4">Data Gejala</div>
              <p>Pilih gejala yang dialami</p>
              <v-text-field v-model="keywordGejala" label="Keyword Gejala" />
              <v-divider class="my-2"/>
              <v-list dense style="max-height: 400px; overflow-y: scroll;">
                <template v-for="g in filteredGejala">
                  <v-list-item :key="`clas-g-${g.id}`">
                    <v-list-item-action>
                      <v-checkbox multiple :value=g.id v-model="item.idListGejala" />
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>
                        <span>{{ g.nama }} --</span>
                        <v-chip
                          small
                          v-if="g.man"
                          class="ml-2"
                        >
                          L
                        </v-chip>
                        <v-chip
                          small
                          v-if="g.woman"
                          class="ml-2"
                        >
                          P
                        </v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-divider :key="`clas-g-div-${g.id}`" />
                </template>
              </v-list>
            </v-col>
          </v-row>
        </v-form>
        <v-row>
          <v-col cols=12 class="text-center">
            <v-btn @click="runClassify" x-large dark color="blue accent-2 elevation-8">
              Klasifikasi
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import moment from "moment";
import { Gejala, Kasus, ClassificationInput } from "@/interfaces";
import { GejalaRepo } from "@/services/repo";
import { classify } from "@/services/classification";
import pasienData from "@/data/pasien";
import { age as _age } from "@/util";
import { saveSession } from "@/services/session";

const ageIsValid = (s: string) => moment().diff(s, 'years', false) > 18;

type IData = {
  gejala: Gejala[];
  keywordGejala: string;

  item: ClassificationInput,
  result?: Kasus,
  rules: any
};

const defData: () => IData = () => ({
  gejala: [],
  keywordGejala: '',
  item: {
    ...pasienData.defaultData,
    idListGejala: [],
    tanggal: moment().format('YYYY-MM-DD'),
    tanggalLahir: '1994-04-23'
  },
  rules: {
    required: (v: any) => !!v || 'Tidak boleh kosong',
    validDate: (v: string) => ageIsValid(v) || 'Umur harus lebih dari 18 tahun'
  },
  result: undefined
})

export default Vue.extend({
  name: 'TestSingle',
  data: defData,
  computed: {
    filteredGejala () {
      let upkey = this.keywordGejala.toUpperCase();
      let woman = this.item.woman;
      let forSex: any;
      if (woman) {
        forSex = this.gejala.filter((g: Gejala) => g.woman || (g.woman && g.man));
      } else {
        forSex = this.gejala.filter((g: Gejala) => g.man || (g.woman && g.man));
      }

      return forSex.filter((g: Gejala) => {
        const namaUpper = g.nama.toUpperCase();
        return namaUpper.includes(upkey);
      })
    }
  },
  methods: {
    async loadGejala() {
      this.gejala = (await GejalaRepo.findAll(0, 1000)).content;
    },
    async runClassify(): Promise<any> {
      const form: any = this.$refs.form;
      if (!form.validate()) {
        alert('Form Invalid')
        return;
      }
      if (this.item.idListGejala.length === 0) {
        alert('Pilih setidaknya satu gejala');
        return;
      }
      const payload = { ...this.item };
      const class_result: any = await classify(payload);
      if (class_result) {
        this.result = class_result.kasus;
        const rm = class_result.rekamMedik;
        console.log('result');
        console.log(rm);
        console.log('rekam-medik');
        console.log(rm);
        const similarity = class_result.similarity;
        saveSession("single-test-param", payload);
        saveSession("single-test-result", rm);
        saveSession("single-test-sim", similarity);
        this.$router.push("/app/testing/single-result");
      }
    }
  },
  mounted() {
    this.loadGejala();
  }
});
</script>