<template>
  <div id="admin-home">
    <v-app-bar app style="left: 0 !important;">
      <v-app-bar-nav-icon>
        <v-icon color="red">
          mdi-bowling
        </v-icon>
      </v-app-bar-nav-icon>
      <v-toolbar-title>CBR</v-toolbar-title>
      <v-spacer/>
      <v-toolbar-items>
        <v-btn to="/app" text>Login</v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-content>
      <div id="hero" class="d-flex flex-column justify-center align-center white--text">
        <div class="display-4">CBR</div>
        <div class="display-1">Weighted Eucliean Distance</div>
        <div class="title">Studi Kasus Penyakit Menular Seksual</div>
      </div>
      <v-container fluid>
        <v-row justify>
          <v-col cols=12>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer app padless>
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>Derin Noraeni</strong>
      </v-col>
    </v-footer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
})
</script>

<style lang="scss" scoped>
  #hero {
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url(/wall.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
  }
</style>
