<template>
    <div id="login-wrapper">
        <v-row v-if="!valid" id="login-form" justify="center" align="center">
            <div id="login-pane">
                <v-card width=600>
                    <v-card-title>Login</v-card-title>
                    <v-card-text>
                        <v-text-field
                            label="Username"
                            v-model="item.username"
                        />
                        <v-text-field
                            label="Password"
                            type="password"
                            v-model="item.password"
                        />
                        <v-btn
                            large
                            dark
                            color="blue"
                            @click="doLogin"
                        >
                            Login
                        </v-btn>
                    </v-card-text>
                </v-card>
            </div>
        </v-row>
        <div v-else>
            <wrapper/>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { checkUser, login } from '@/services/auth';
import Wrapper from './Wrapper.vue';

type IData = {
    valid: boolean;
    state: string;
    item: {
        username: string;
        password: string;
    }
};

const defData: () => IData = () => ({
    valid: false,
    state: 'idle',
    item: {
        username: '',
        password: ''
    }
});

export default Vue.extend({
    components: {
        Wrapper
    },

    data: defData,

    methods: {
        doLogin() {
            let result: any;
            try {
                result = login(this.item.username, this.item.password);
                this.valid = true;
            } catch (err) {
                console.log(err);
            }
        }
    },
    
    mounted() {
        if (!checkUser()) {
            this.valid = false;
        } else {
            this.valid = true;
        }
    }
});
</script>

<style lang="scss">
    #login-pane {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>