<template>
  <div>    
  
    <v-navigation-drawer
      app
      permanent
      mini-variant-width=56
      mini-variant
      dark
      class="blue darken-4"
    >
      <v-layout fill-height column>

        <v-list single-line color="black">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-list-item v-on="on">
                <v-list-item-icon>
                  <v-icon color="blue accent-2">
                    mdi-apps
                  </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Dashboard</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <span>Dashboard</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-list-item dark v-on="on" to="/">
                <v-list-item-icon>
                  <v-icon color="blue accent-2">
                    mdi-home
                  </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Home</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <span>Home</span>
          </v-tooltip>
        </v-list>

        <v-spacer/>

        <v-list single-line>
          <template v-for="(nav, idx) in allNavs">
            <v-tooltip right :key="`main-nav-item-${idx}`">
              <template v-slot:activator="{ on }">
                <v-list-item  :to=nav.to v-on="on">
                  <v-list-item-icon>
                    <v-icon>
                      mdi-{{ nav.icon }}
                    </v-icon>
                  </v-list-item-icon>
                </v-list-item>
                <v-divider/>
              </template>
              <span>{{ nav.text }}</span>
            </v-tooltip>
          </template>
        </v-list>
        
        <v-spacer/>

        <v-list single-line color="black">
          <v-list-item @click="doLogout">
            <v-list-item-icon>
              <v-icon color="red accent-3">
                mdi-power
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-layout>
    </v-navigation-drawer>

    <v-content class="white">
      <v-app-bar
        class="custom-toolbar"
        color="grey lighten-4"
        flat
      >
        <v-spacer/>
        <v-app-bar-nav-icon>
          <v-icon color="red accent-2">
            mdi-bowling
          </v-icon>
        </v-app-bar-nav-icon>
        <v-toolbar-title class="ml-0 pl-0">CBR / W-KNN</v-toolbar-title>
        <v-spacer/>        
      </v-app-bar>
      <v-divider/>
      <v-toolbar
        flat
        class="custom-toolbar"
        color="grey lighten-4"
      >
        <v-spacer/>
        <v-toolbar-items>
          <v-btn text small
            v-for="(nav, idx) in masterNavs"
            :key="`master-nav-item-${idx}`"
            :to=nav.to
          >
            {{ nav.text }}
          </v-btn>
        </v-toolbar-items>
        <v-spacer/>
        <v-toolbar-items>
          <v-btn text small
            v-for="(nav, idx) in testingNavs"
            :key="`master-nav-item-${idx}`"
            :to=nav.to
          >
            {{ nav.text }}
          </v-btn>
        </v-toolbar-items>
        <v-spacer/>
      </v-toolbar>
      <v-divider/>

      <v-container id="derin-wrapper">
        <v-row>
          <v-col cols=12>
            <router-view/>
          </v-col>
        </v-row>
      </v-container>
      
      <v-snackbar v-model=snackbar.value vertical :color=snackbar.color>
        {{ snackbar.msg }}
        <v-btn
          color="indigo"
          text
          @click="snackbar.value = false"
        >
          Close
        </v-btn>
      </v-snackbar>
      <v-footer padless>
        <v-col
          class="text-center"
          cols="12"
        >
          {{ new Date().getFullYear() }} — <strong>Derin Noraeni</strong>
        </v-col>
      </v-footer>
    </v-content>
    
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import evbus from "@/evbus";
import navmenus from "@/data/navmenus";
import { RepoEvent } from "@/evbus";
import { logout } from '@/services/auth';

export default Vue.extend({
  name: 'AdminHome',
  data: () => ({
    masterNavs: navmenus.master,
    testingNavs: navmenus.testing,
    snackbar: {
      value: false,
      msg: '',
      color: 'green'
    }
  }),
  computed: {
    currentRouteComponents() : any[] {
      let paths = this.$route.path.split("/")
      return paths.map(p => ({
        text: p.toUpperCase(),
        disabled: false
      }))
    },
    allNavs(): any[] {
      return [ ...this.masterNavs, ...this.testingNavs ];
    }
  },
  methods: {
      doLogout () {
          logout();
          this.$router.push('/');
      }
  },
  mounted() {
    evbus.$on("repo-event", (ev: RepoEvent) => {
      this.snackbar.value = true
      this.snackbar.msg = ev.msg
      this.snackbar.color = ev.type == 'success' ? 'green' : 'red'
    })
  },
  beforeDestroy() {
    evbus.$off("repo-event")
  }
});
</script>

<style lang="scss">
  .custom-toolbar {
    .v-toolbar__content {
      .v-btn:not(.v-btn--round).v-size--small {
        text-transform: none;
      }
    }
  }
</style>
