<template>
  <v-dialog :value=true width=500>
    <v-card>
      <v-toolbar flat dense>
        <v-toolbar-title>Input Data Penyakit</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          label="Nama Penyakit"
          v-model="item.nama"
        />
        <v-textarea
          label="Deskripsi Penyakit"
          v-model="item.deskripsi"
        />
        <v-textarea
          label="Solusi Penyakit"
          v-model="item.solusi"
        />
        <v-checkbox hide-details label="Gejala berlaku untuk Wanita" v-model="item.woman" />
        <v-checkbox hide-details label="Gejala berlaku untuk Pria" v-model="item.man" />
      </v-card-text>
      <v-card-actions>
        <v-btn text color="blue" @click="create">Simpan</v-btn>
        <v-btn text color="red" @click="$router.back()">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Penyakit } from "@/interfaces";
import { PenyakitRepo } from "@/services/repo";

type IData = {
  item: Penyakit;
};

const defaultData: IData = {
  item: {
    nama: '',
    deskripsi: '',
    solusi: '',
    man: true,
    woman: true
  }
}

export default Vue.extend({
  name: 'PenyakitAdd',
  data: () => defaultData,
  methods: {
    async create() {
      try {
        await PenyakitRepo.create(this.item)
        this.$router.back()
      } catch (err) {
        console.log(err)
      }
    }
  }
})
</script>