<template>
  <v-dialog :value=true width=500>
    <v-card>
      <v-toolbar flat dense>
        <v-toolbar-title>Edit Data Penyakit</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          label="Nama Penyakit"
          v-model="item.nama"
        />
        <v-textarea
          label="Deskripsi Penyakit"
          v-model="item.deskripsi"
        />
        <v-textarea
          label="Solusi Penyakit"
          v-model="item.solusi"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn text color="blue" @click="update">Simpan</v-btn>
        <v-btn text color="red" @click="$router.back()">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Penyakit } from "@/interfaces";
import { PenyakitRepo } from "@/services/repo";
import penyakitData from "@/data/penyakit";

type IData = {
  item: Penyakit;
};

const defaultData = {
  item: penyakitData.defaultData
};

export default Vue.extend({
  name: 'PenyakitEdit',
  data: () => defaultData,
  props: ['id'],
  methods: {
    async update() {
      try {
        await PenyakitRepo.update(this.id, this.item)
        this.$router.back()
      } catch (err) {
        console.log(err)
      }
    },
    async loadData() {
      try {
        let item = await PenyakitRepo.findOne(this.id)
        delete item.id
        this.item = { ...item }
      } catch (err) {
        console.log(err)
      }
    }
  },
  mounted() {
    this.loadData()
  }
})
</script>