<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=12>
        <div class="display-1 py-4">Basis Kasus</div>
        <p>
          Basis Kasus merupakan Data rekam medik yang akan digunakan dalam fase pencarian.
        </p>
        <v-divider class="my-4"/>
        <column-chart title="Perbandingan Jumlah Penyakit Dalam Basis Kasus" :data="chartData"></column-chart>
        <v-divider class="my-4"/>
        
      </v-col>
    </v-row>
    <v-row>
      <v-col cols=8>
        <v-toolbar flat color="grey lighten-4">
          <v-select :items="penyakitOptions" v-model="penyakitId" label="Pilih Penyakit" />
        </v-toolbar>
        <v-simple-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Rekam Medik</th>
              <th>Penyakit</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="k in filteredKasus"
              :key="`k-row-${k.id}`"
            >
              <td>{{k.id}}</td>
              <td>
                <v-btn text color="blue" small :to="`/app/rekam-medik/detail/${k.rekamMedikId}`">
                  {{k.rekamMedikId}}
                </v-btn>
              </td>
              <td>
                <v-btn text color="blue" small :to="`/app/penyakit/${k.penyakitId}`">
                  {{k.penyakitNama}}
                </v-btn>
              </td>
              <td>
                <v-icon @click="deleteData(k.id)" color="red">
                  mdi-delete
                </v-icon>
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { penyakitCountInBasisKasus } from "@/services/aggregate";
import { KasusRepo, PenyakitRepo } from "@/services/repo";
import { Penyakit, KasusDTO } from "@/interfaces";

type IChartData = [String, number];

type IData = {
  chartData: IChartData[];
  kasus: KasusDTO[];
  penyakit: Penyakit[];
  penyakitId: number;
};

const defData: () => IData = () => ({
  chartData: [],
  kasus: [],
  penyakit: [],
  penyakitId: 0
});

export default Vue.extend({
  name: 'KasusList',
  data: defData,
  methods: {
    async loadChartData() {
      const items = await penyakitCountInBasisKasus();
      this.chartData = items.map(it => [ it[0].nama, it[1] ]) as IChartData[];
    },
    async loadData() {
      this.kasus = (await KasusRepo.findAll(0, 200000)).content;
      this.penyakit = (await PenyakitRepo.findAll(0, 200000)).content;
    },
    async deleteData(id: number) {
      try {
        await KasusRepo.remove(id);
      } catch (err) {
        console.log(err);
      } finally {
        this.loadData();
      }
    }
  },
  computed: {
    penyakitOptions(): any[] {
      const items = this.penyakit.map(it => ({
        text: it.nama,
        value: it.id
      }));
      const allOpt = {
        text: 'Semua',
        value: 0
      };
      return [ allOpt, ...items ];
    },
    filteredKasus(): any[] {
      const penyakitId = this.penyakitId;
      if (penyakitId === 0) return this.kasus;
      return this.kasus.filter(it => it.penyakitId === penyakitId);
    }
  },
  mounted() {
    this.loadChartData();
    this.loadData();
  }
});
</script>