<template>
  <v-dialog :value=true width=500>
    <v-card>
      <v-toolbar flat dense>
        <v-toolbar-title>Input Data Gejala</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          label="Nama Gejala"
          v-model="item.nama"
        />
        <v-textarea
          label="Deskripsi Gejala"
          v-model="item.deskripsi"
        />
        <div class="subtitle">
          Jenis Kelamin
        </div>
        <v-checkbox hide-details label="Gejala berlaku untuk Wanita" v-model="item.woman" />
        <v-checkbox hide-details label="Gejala berlaku untuk Pria" v-model="item.man" />
      </v-card-text>
      <v-card-actions>
        <v-btn text color="blue" @click="create">Simpan</v-btn>
        <v-btn text color="red" @click="$router.back()">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Gejala } from "@/interfaces";
import { GejalaRepo } from "@/services/repo";
import gejalaData from "@/data/gejala";

type IData = {
  item: Gejala;
};

const defaultData: IData = {
  item: gejalaData.defaultData
}

export default Vue.extend({
  name: 'GejalaAdd',
  data: () => defaultData,
  methods: {
    async create() {
      try {
        await GejalaRepo.create(this.item)
        this.$router.back()
      } catch (err) {
        console.log(err)
      }
    }
  }
})
</script>