<template>
  <v-dialog :value=true width=500>
    <v-card>
      <v-toolbar flat dense>
        <v-toolbar-title>Edit Data Gejala</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          label="Nama Gejala"
          v-model="item.nama"
        />
        <v-textarea
          label="Deskripsi Gejala"
          v-model="item.deskripsi"
        />
        <v-radio-group v-model="item.woman">
          <v-radio label="Laki - Laki" :value="false"></v-radio>
          <v-radio label="Perempuan" :value="true"></v-radio>
        </v-radio-group>
      </v-card-text>
      <v-card-actions>
        <v-btn text color="blue" @click="update">Simpan</v-btn>
        <v-btn text color="red" @click="$router.back()">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { Gejala } from "@/interfaces";
import { GejalaRepo } from "@/services/repo";
import gejalaData from "@/data/gejala";

type IData = {
  item: Gejala;
};

const defaultData = {
  item: gejalaData.defaultData
};

export default Vue.extend({
  name: 'GejalaEdit',
  data: () => defaultData,
  props: ['id'],
  methods: {
    async update() {
      try {
        await GejalaRepo.update(this.id, this.item)
        this.$router.back()
      } catch (err) {
        console.log(err)
      }
    },
    async loadData() {
      try {
        let item = await GejalaRepo.findOne(this.id)
        delete item.id
        this.item = { ...item }
      } catch (err) {
        console.log(err)
      }
    }
  },
  mounted() {
    this.loadData()
  }
})
</script>