<template>
  <v-container fluid class="px-4">
    <v-row>
      <v-col cols=12>
        <div class="display-1 py-4">Gejala</div>
        <p>Data Rekam Medik dari pasien. Total data {{ items.length }}</p>
        <v-divider class="my-4"/>
        <v-toolbar flat class="my-4" color="grey lighten-4">
          <v-text-field
            v-model="keyword"
            hide-details
            flat
            placeholder="Keyword pencarian berdasarkan nama penyakit."
            prepend-icon="mdi-magnify"
          />
          <v-btn dark color="indigo" to="/app/gejala/add" class="ml-4">
            Tambah
            <v-icon right large>mdi-plus</v-icon>
          </v-btn>
        </v-toolbar>
        <v-data-table :headers="tableHeaders" :items="filtered" class="my-4">
          <template v-slot:item.man="{ item }">
            <v-icon v-if="item.man" color="green" small>
                mdi-check-bold
            </v-icon>
          </template>
          <template v-slot:item.woman="{ item }">
            <v-icon v-if="item.woman" color="green" small>
                mdi-check-bold
            </v-icon>
          </template>
          <template v-slot:item.action="{ item }">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on">
                  mdi-chevron-down
                </v-icon>
              </template>
              <v-list dense>
                <v-list-item :to="`/app/gejala/${item.id}`">
                  <v-list-item-subtitle>Edit</v-list-item-subtitle>
                </v-list-item>
                <v-list-item @click="remove(item.id)">
                  <v-list-item-subtitle>Hapus</v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import gejalaData from "@/data/gejala";
import { Gejala } from "@/interfaces";
import { GejalaRepo } from "@/services/repo";

type IData = {
  tableHeaders: any;
  items: Gejala[];
  keyword: string;
}

const defaultData: IData = {
  tableHeaders: gejalaData.tableHeaders,
  items: [] as Gejala[],
  keyword: ''
}

export default Vue.extend({
  name: "GejalaList",
  data: () => defaultData,
  computed: {
    filtered(): Gejala[] {
      const keyup = this.keyword.toUpperCase();
      const filterFunc = (it: Gejala) => it.nama.toUpperCase().includes(keyup);
      return this.items.filter(filterFunc);
    }
  },
  methods: {
    async loadItems() : Promise<void> {
      const items = await GejalaRepo.findAll(0, 99999)
      this.items = items.content
    },
    async remove(id: number) {
      try {
        await GejalaRepo.remove(id)
      } catch (err) {
        console.log(err)
      } finally {
        this.loadItems()
      }
    }
  },
  mounted() {
    this.loadItems()
  }
})
</script>